<div class="main">
    <div class="content">
        
        <div class="faqs">
            <h2>CHÍNH SÁCH BẢO MẬT</h2>
            <div id="posts">
                <div class="tab bar">
                    <h4 class="post-title">1.Thông tin chúng tôi thu thập</h4>
                </div>
                <div class="panel margin-lr-7">
                    <p>
                        Khi bạn truy cập hoặc sử dụng dịch vụ của chúng tôi, chúng tôi có thể thu thập các loại thông tin sau đây về bạn:

                        Thông tin cá nhân: Bao gồm tên, địa chỉ email, số điện thoại và địa chỉ giao hàng.
                        Thông tin thanh toán: Bao gồm thông tin thẻ tín dụng hoặc thông tin tài khoản thanh toán khác.
                        Thông tin thiết bị: Bao gồm địa chỉ IP, loại trình duyệt, hệ điều hành và các thông tin khác về thiết bị mà bạn sử dụng để truy cập trang web của chúng tôi.
                    </p>
                </div>
                <div class="tab bar">
                    <h4 class="post-title"> 2.Cách chúng tôi sử dụng thông tin</h4>
                </div>
                <div class="panel margin-lr-7">
                    <p>
                        Chúng tôi sử dụng thông tin cá nhân của bạn để:

                        Xác nhận và xử lý đơn hàng mà bạn đặt.
                        Liên lạc với bạn về đơn hàng, sản phẩm và dịch vụ.
                        Cải thiện trải nghiệm mua sắm của bạn trên trang web của chúng tôi.
                        Cung cấp thông tin về sản phẩm, khuyến mãi và sự kiện đặc biệt.
                    </p>
                </div>
                <div class="tab bar">
                    <h4 class="post-title"> 3.Chia sẻ thông tin của bạn</h4>
                </div>
                <div class="panel margin-lr-7">
                    <p>
                        Chúng tôi không bán, trao đổi hoặc chia sẻ thông tin cá nhân của bạn với bên thứ ba ngoại trừ những trường hợp sau đây:

                        Đối tác dịch vụ: Chúng tôi có thể chia sẻ thông tin của bạn với các đối tác dịch vụ của chúng tôi để hỗ trợ việc xử lý đơn hàng và cung cấp dịch vụ cho bạn.
                        Tuân thủ pháp luật: Chúng tôi có thể tiết lộ thông tin của bạn nếu được yêu cầu bởi pháp luật hoặc quy định của chính phủ.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</div>
 </div>
